:root {
  --hover-color: #2196f3;
  --accent-color: #212121;
  --wite-color: #ffffff;
}

body {
  background-color: var(--wite-color);
  color: #757575;

  font-family: "Roboto", sans-serif;
}
.page-header {
  background-color: var(--wite-color);
}
.text-logo-header {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 19;
  color: var(--accent-color);
}
.web-header {
  color: var(--hover-color);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

.link-header {
  color: var(--accent-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1, 14;
}
.link-header:hover,
.link-header:focus {
  color: var(--hover-color);
}
.current-link {
  color: var(--hover-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1, 14;
}

.link-info {
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  line-height: 1, 14;
}
.link-info:hover,
.link-info:focus {
  color: var(--hover-color);
}
.button {
  cursor: pointer;
  background: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 63;
  text-align: center;
  color: var(--accent-color);
}
.button:hover,
.button:focus {
  background-color: var(--hover-color);
  color: var(--wite-color);
}
.current {
  background-color: var(--hover-color);
  color: var(--wite-color);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 63;
  text-align: center;
}
.text-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--accent-color);
  background: var(--wite-color);
}
.text-main {
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 88;
  background: var(--wite-color);
  color: #757575;
}
footer {
  background: #2f303a;
}
.text-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 19;
  color: var(--wite-color);
}
.web-footer {
  color: var(--hover-color);
}
.link-adress > a {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 17;
  color: var(--wite-color);
}
.link-adress > a:hover,
.link-adress > a:focus {
  color: var(--hover-color);
}
.link-mail > a,
.link-tel > a {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 17;
  color: rgba(255, 255, 255, 0.6);
}
.link-mail > a:hover,
.link-mail > a:focus {
  color: var(--hover-color);
}
.link-tel > a:hover,
.link-tel > a:focus {
  color: var(--hover-color);
}
